/*
 * Made by Austin Tindle
 * This site uses the skeleton css framework. look it up at getskeleton.com or just look at the skeleton.css file
 */

/* Header */
header {
	margin-bottom: 2.5rem;
	/*border-bottom: #111 1rem solid;*/
}

header .hero {

}

header .hero .container img {
	padding: 5rem 0;
}

/* Fancy */
header .fancy {
	background-color: #111;
	padding: 0;
	height: 1rem;
}

header .fancy div {
	display: inline-block;
	float: left;
	margin: 0;
	padding: 0;
	height: 1rem;
	width: 2rem;
	background-color: white;
}

header .fancy div:nth-child(1) {
	background-color: #540d6e;
}

header .fancy div:nth-child(2) {
	background-color: #fff432;
}

header .fancy div:nth-child(3) {
	background-color: #328eff;
}

header .fancy div:nth-child(4) {
	background-color: #87f731;
}

header .fancy div:nth-child(5) {
	background-color: #2a3e93;
}

header .fancy div:nth-child(6) {
	background-color: #ed254e;
}

header .fancy div:nth-child(7) {
	background-color: #ffa551;
}

/* Nav */
nav {
	text-transform: uppercase;
	font-family: "Lato", sans-serif;
	font-size: 1.7rem;
	font-weight: 300;
}

nav ul {
	border-top: 1px solid #888;
	list-style: none;
	text-align: center;
	padding-top: 2.5rem;
}

nav ul li {
	display: inline;
	padding: 0 8px;
}

nav ul li a {
	text-decoration: none;
	color: #ddd;
}



/* Footer */
footer {
	border-top: 1px solid #eee;
	margin-top: 2.5rem;
	padding: 2.5rem 0;
	text-align: center;
}

/* Personnel */
.person img {

	max-height: 12rem;
}

.person {
	border-bottom: 1px solid #eee;
	margin: 0 0 2.5rem 0;
	padding: 1rem 0
}

/* Gallery */
.album-thumb {
	max-height: 200px;
	padding: 1% 2% 1% 0;
}

/* Misc. */
.small-text  {
	font-size: 1.2rem;
}

.no-margin {
	margin-left: 0;
}